/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC   |  1  |  2  |  3   |  4   |  5   |                    |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB   |  Q  |  W  |  E   |  R   |  T   |                    |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL  |  A  |  S  |  D   |  F   |  G   |                    |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT  |  Z  |  X  |  C   |  V   |  B   |                    |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            // |    2   |  2  | f   | 6    | 4    | 1    |                    | 2    | 1     | w     | s    | n     |  a    |

            bindings = <
  &kp ESC   &kp N1     &kp N2         &kp N3            &kp N4    &kp N5    &kp N6   &kp N7     &kp N8   &kp N9    &kp N0  &kp EQUAL
  &kp TAB    &kp Q      &kp W          &kp E             &kp R     &kp T     &kp Y    &kp U      &kp I    &kp O     &kp P  &kp MINUS
&kp LSHFT    &kp A      &kp S          &kp D             &kp F     &kp G     &kp H    &kp J      &kp K    &kp L  &kp SEMI    &kp SQT
&kp GRAVE    &kp Z      &kp X          &kp C             &kp V     &kp B     &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH   &kp BSLH
&kp LCTRL  &kp ESC  &kp LCTRL  &kp BACKSPACE  &kp LEFT_COMMAND  &kp LALT  &kp RALT  &kp RET  &kp SPACE    &mo 1     &mo 1  &kp RCTRL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |                   |      |  _    |  +    |  {   |   }   |  "|"  |
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |

            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6    &kp F7         &kp F8    &kp F9            &kp F10       &kp F11               &kp F12
 &none   &none   &none   &none   &none   &none     &none    &kp PAGE_UP    &kp UP           &kp LBRC      &kp RBRC  &kp C_BRIGHTNESS_INC
 &none   &none   &none   &none   &none   &none  &kp HOME       &kp LEFT  &kp DOWN          &kp RIGHT       &kp END  &kp C_BRIGHTNESS_DEC
 &none   &none   &none   &none   &none   &none     &none  &kp PAGE_DOWN     &none  &kp C_VOLUME_DOWN  &kp C_VOL_UP            &kp C_MUTE
 &none   &none  &trans   &none   &none   &none     &none          &none     &none             &trans         &none                 &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
